<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>Home page</title>
		<link rel="stylesheet" type="text/css" href="styles/nav.css">
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	</head>

	<body>	
		<ul th:fragment="navbar">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:if="${loggedInUser != null}" th:href="@{/AddItem}">New product Ad</a></li>
			<li><a th:if="${loggedInUser != null}" th:href="@{/ActiveItemAnalysis}">Item analysis</a></li>
			<li th:if="${loggedInUser == null}" style="float:right"><a th:href="@{RegisterUser}">Sing up</a></li>
			<li th:if="${loggedInUser == null}" style="float:right"><a th:href="@{SignInUser}">Sign in</a></li>
			<li th:if="${loggedInUser != null}" style="float:right"><a th:href="@{LogoutUser}">Logout</a></li>
			<li th:if="${loggedInUser != null}" style="float:right" class="dropdown">
				<a class="dropbtn"> [[|${loggedInUser.firstName} ${loggedInUser.lastName}|]] </a>
				<div class="dropdown-content">
					<a th:href="@{Favourites}">Favourites</a>
				</div>
		  	</li>
		</ul>
	</body>
</html>
